pyTelegramBotAPI
gunicorn
keyboa==2.2.8
python-dotenv
flask==1.1.2
flask-sqlalchemy
Flask-Migrate==2.5.2
flask-script
flask-wtf
flask-admin
flask-babelex
Flask-Melodramatiq
flask-login
flask-redis
MarkupSafe
celery==5.1.2
dill
wtforms
psycopg2
validators
TBForms==0.9.7
pydantic
