{% extends "base.html" %}


{% block content %}
<div id="login">
		<h3 class="text-center text-white pt-5">Admin Login</h3>
		<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
						<div id="login-column" class="col-md-6">
								<div id="login-box" class="col-md-12">
										<form id="login-form" class="form" action="" method="post">
												<h3 class="text-center text-info">Admin Login</h3>
												<div class="form-group">
														<label for="username" class="text-info">Войти через свой аккаунт:</label><br>
														<script async src="https://telegram.org/js/telegram-widget.js?15" data-telegram-login="{{tg_username}}" data-size="large" data-auth-url="{{base_domain}}admin_login" data-request-access="write"></script>
												</div>
										</form>
								</div>
						</div>
				</div>
		</div>
</div>

{% endblock %}
